.stape-sw-settings-index-legacy-tabs {
    .sw-settings__tabs {
        display: grid;
        grid-template-columns: minmax(126px, 1fr) minmax(0, 960px) 1fr;
    }

    .sw-settings__content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 30px 10px;
    }

    .sw-tabs__content {
        top: 100px;
    }

    .sw-settings__content-header {
        margin-bottom: 64px;
        color: var(--color-text-primary-default);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        line-height: var(--font-line-height-xl);
    }
}
